@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  /* background-color: #594b4a; */
  background-color: #3f4354;
}

h1 {
  display: none;
}

svg {
  stroke: transparent;
  display: block;
  margin: 0 auto;
  padding: 1em;
}

.fade {
  opacity: .2;
  transition: all 2200ms ease-out;
}

.puck {
  position: relative;
  transform: translateX(-1000px);
}

.puck-in {
  animation: pucker 800ms ease-in alternate forwards;
}

@keyframes pucker {

  0% {
    transform: translateX(-1000px) translateY(-1030px);
  }

  50% {
    fill: #f00;
  }

  100% {
    transform: translateY(30px) translateX(0);
  }
}

.grow-leaf {
  animation: hockeyleaf 200ms ease-in;
  transform-origin: center center;
}

.hockey-leaf {
  transform: rotate(0deg);
}

@keyframes hockeyleaf {

  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.bag-wiggle {
  animation: bag-wiggle 500ms alternate infinite forwards;
  transform-origin: center bottom;
}

@keyframes bag-wiggle {

  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);

  }
}

.thumb-grow {
  animation: thumbspin 400ms ease-in forwards;
  transform-origin: center center;
}

@keyframes thumbspin {

  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(0) scale(3);
    fill: #fff;
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.thumb-lines {
  opacity: 0;
  transition: 500ms all;
  transition-delay: 300ms;
}

.show-lines {
  opacity: 1;
}

.baby {
  transform: translateY(-48px) translateX(30px);
}

.slide-down {
  animation: slide 700ms ease-out forwards;
  transform-origin: center center;
}

.babywhoosh {
  opacity: 0;
}

.whooshline {
  animation: babywhoosh 1000ms ease-in;
}

@keyframes babywhoosh {

  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {

  0% {
    transform: translateY(-50px) translateX(30px) rotate(0);
  }

  50% {
    transform: translateY(-50px) translateX(25px) rotate(10deg);
  }

  100% {
    transform: translateY(60px) translateX(-90px) rotate(6deg);
  }
}
