@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.bag svg, .drugboy svg, .hockey, .title svg {
  overflow: visible;
}

body {
  /* background-color: #594b4a; */
  background-color: #3f4354;
}

h1 {
  display: none;
}

.grow-letter {
  animation: grow 400ms alternate-reverse linear;
  transform-origin: left bottom;
}

@keyframes grow {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

svg {
  stroke: transparent;
  display: block;
  margin: 0 auto;
  padding: 1em;
}

.fade {
  opacity: .2;
  transition: 800ms ease-out;
}

.hockey-swoosh {
  opacity: 0;

}

.show-swoosh {
  animation: swoosh 500ms forwards ease-in;
  animation-delay: 500ms;
}

@keyframes swoosh {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hockey-eyes {
  animation: blink 10000ms infinite ease-in;
}

@keyframes blink {

  0% {
    opacity: 1;
  }

  1% {
    opacity: 0;
  }

  2% {
    opacity:0;
  }

  3% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  71% {
    opacity: 0;
  }

  72% {
    opacity:0;
  }

  73% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

.puck {
  position: relative;
  transform: translateX(-1000px);
}

.puck-in {
  animation: pucker 800ms ease-in alternate forwards;
}

@keyframes pucker {

  0% {
    transform: translateX(-1000px) translateY(-1030px);
  }

  50% {
    fill: #f00;
  }

  100% {
    transform: translateY(30px) translateX(0);
  }
}

.grow-leaf {
  animation: hockeyleaf 200ms ease-in;
}

.hockey-leaf {
  transform: rotate(0deg);
  transform-origin: 163px 232px;

}

@keyframes hockeyleaf {

  0% {
    transform: rotate(0deg) scale(1);

  }

  50% {
    transform: rotate(180deg) scale(1.2);

  }

  100% {
    transform: rotate(360deg) scale(1);

  }
}

/* a+ */

.mouse-move {
  animation: mousekid 10000ms infinite;
}

.letter-a {
  opacity: 0;

}

.animate-a {
  animation: apop 200ms forwards;
}

@keyframes apop {

  0% {
    transform: translateY(180px) translateX(50px);
    opacity: 0;

  }

  100% {
    transform: translateY(0) translateX(-50px);
    opacity: 1;
  }
}

@keyframes mousekid {

  0% {
    transform: translateX(-10px);
  }

  10% {
    transform: translateX(10px);
  }

  15% {
    transform: translateX(8px);
  }

  20% {
    transform: translateX(-13px);
  }

  30% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  65% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.shakescreen {
  animation: shake 300ms alternate;
  transform-origin: 226px 280px;
}

@keyframes shake {

  0% {
    transform: rotate(15deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.bag-wiggle {
  animation: bag-wiggle 500ms alternate infinite forwards;
  transform-origin: 161px 430px;
}

@keyframes bag-wiggle {

  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);

  }
}

/* Drugs */

.the-drugs {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 1000ms;
  transform-origin: center center;
}

.dropdrugs {
  animation: dropthedrugs 800ms ease forwards;
}

@keyframes dropthedrugs {

  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    transform-origin: center center;
  }
}

.drug-x {
  transform: scale(0);
  transform-origin: 147px 85px;
}

.show-x {
  animation: sayno 300ms forwards ease-out;
  transform-origin: 147px 85px;
}

@keyframes sayno {

  0% {
    transform: scale(0) rotate(0);
  }

  40% {
    transform: scale(2.8) rotate(0);
  }

  100% {
    transform: scale(1) rotate(-360deg);
  }
}

.shoo-drugs {
  animation: shoo 200ms ease-out;
  animation-delay: 100ms;
}

@keyframes shoo {

  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateX(80px) translateY(0);
    opacity: 0;
  }
}

/* thumbs */

.thumb-grow {
  animation: thumbspin 400ms ease-in forwards;
  transform-origin: 65px 70px;
}

@keyframes thumbspin {

  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(0) scale(5);
    fill: #fff;
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.thumb-lines {
  opacity: 0;
  transition: 500ms all;
  transition-delay: 300ms;
}

.show-lines {
  opacity: 1;
}

.baby {
  transform: translateY(-48px) translateX(30px);
}

.slide-down {
  animation: slide 700ms ease-out forwards;
  transform-origin: center center;
}

.babywhoosh {
  opacity: 0;
}

.whooshline {
  animation: babywhoosh 1000ms ease-in;
}

@keyframes babywhoosh {

  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {

  0% {
    transform: translateY(-50px) translateX(30px) rotate(0);
  }

  50% {
    transform: translateY(-50px) translateX(25px) rotate(10deg);
  }

  100% {
    transform: translateY(60px) translateX(-90px) rotate(6deg);
  }
}
