@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #594b4a;
}

svg {
  stroke: transparent;
  display: block;
  margin: 0 auto;
  padding: 1em;
}

.fade {
  opacity: 0;
  transition: all 5000ms;
}


.puck{
position: relative;
 transform: translateX(-1000px);

}
.puck-in {
  animation: pucker 500ms ease-in alternate forwards;


}

@keyframes pucker {

  0%{
      transform: translateX(-500px) translateY(-1030px);


  }

  50%{
  fill: #f00;
}

  100% {
    transform: translateY(30px) translateX(0px);

  }
}

.grow-leaf {
animation: hockeyleaf 200ms ease-in;
transform-origin: center center;
}

.hockey-leaf{
  transform: rotate(0deg);
}

@keyframes hockeyleaf {

  0% {
    transform: rotate(0deg) scale(1);
  }

  50%{
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}


.bag-wiggle {
  animation: bag-wiggle 500ms alternate infinite forwards;
  transform-origin: center bottom;
}

@keyframes bag-wiggle {

  0%{
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);

  }
}

.baby {
   transform: translateY(-50px) translateX(40px);
}

.slide-down {
  animation: slide 500ms forwards;
}

.babywhoosh{
  opacity: 0;
}
.whooshline{
  animation: babywhoosh 1s;
}

@keyframes babywhoosh {
  0% {
    opacity: 0;
  }
  10%{
    opacity: 0;
  }
  30% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateY(-50px) translateX(40px);
  }

  100%{
     transform: translateY(60px) translateX(-85px);
  }
}
