@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  /* background-color: #594b4a; */
  background-color: #3f4354;
}

h1 {
  display: none;
}

svg {
  stroke: transparent;
  display: block;
  margin: 0 auto;
  padding: 1em;
}

.fade {
  opacity: .2;
  transition: all 2200ms ease-out;
}

.hockey-swoosh {
  opacity: 0;

}

.show-swoosh {
  animation: swoosh 500ms forwards ease-in;
  animation-delay: 500ms;
}

@keyframes swoosh {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hockey-eyes {
  animation: blink 1000ms ease-in;
}

@keyframes blink {

  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  26% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  61% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

.puck {
  position: relative;
  transform: translateX(-1000px);
}

.puck-in {
  animation: pucker 800ms ease-in alternate forwards;
}

@keyframes pucker {

  0% {
    transform: translateX(-1000px) translateY(-1030px);
  }

  50% {
    fill: #f00;
  }

  100% {
    transform: translateY(30px) translateX(0);
  }
}

.grow-leaf {
  animation: hockeyleaf 200ms ease-in;
  transform-origin: 21.55px -24.012px;
}

.hockey-leaf {
  transform: rotate(0deg);

}

@keyframes hockeyleaf {


  0% {
    transform: rotate(0deg) scale(1);

  }

  50% {
    transform: rotate(180deg) scale(1.2);

  }

  100% {
    transform: rotate(360deg) scale(1);

  }
}

.bag-wiggle {
  animation: bag-wiggle 500ms alternate infinite forwards;
  transform-origin: center bottom;
}

@keyframes bag-wiggle {

  0% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);

  }
}

/* Drugs */

.the-drugs {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 1000ms;
  transform-origin: center center;
}

.dropdrugs {
  animation: dropthedrugs 800ms forwards;
}

@keyframes dropthedrugs {

  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    transform-origin: center center;
  }
}

.drug-x {
  transform: scale(0);
  transform-origin: center center;
}

.show-x {
  animation: sayno 300ms forwards ease-out;
  transform-origin: center center;
}

@keyframes sayno {

  0% {
    transform: scale(0) rotate(0);
  }

  40% {
    transform: scale(2.8) rotate(0);
  }

  100% {
    transform: scale(1) rotate(-360deg);
  }
}

.shoo-drugs {
  animation: shoo 200ms ease-out;
  animation-delay: 100ms;
}

@keyframes shoo {

  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateX(80px) translateY(0);
    opacity: 0;
  }
}

/* thumbs */

.thumb-grow {
  animation: thumbspin 400ms ease-in forwards;
  transform-origin: center center;
}

@keyframes thumbspin {

  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(0) scale(5);
    fill: #fff;
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.thumb-lines {
  opacity: 0;
  transition: 500ms all;
  transition-delay: 300ms;
}

.show-lines {
  opacity: 1;
}

.baby {
  transform: translateY(-48px) translateX(30px);
}

.slide-down {
  animation: slide 700ms ease-out forwards;
  transform-origin: center center;
}

.babywhoosh {
  opacity: 0;
}

.whooshline {
  animation: babywhoosh 1000ms ease-in;
}

@keyframes babywhoosh {

  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {

  0% {
    transform: translateY(-50px) translateX(30px) rotate(0);
  }

  50% {
    transform: translateY(-50px) translateX(25px) rotate(10deg);
  }

  100% {
    transform: translateY(60px) translateX(-90px) rotate(6deg);
  }
}
