@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #594b4a;
}

svg {
  stroke: transparent;
  display: block;
  margin: 0 auto;
  padding: 1em;
}

.fade {
  opacity: .2;
  transition: all 500ms;
}


.puck{
position: relative;
 transform: translateX(-1000px);

}
.puck-in {
  animation: pucker 500ms ease alternate forwards;


}

@keyframes pucker {

  0%{
      transform: translateX(-500px) translateY(-1030px);


  }

  50%{
  fill: #f00;
}

  100% {
    transform: translateY(30px) translateX(0px);

  }
}

.grow-leaf {
animation: hockeyleaf 200ms ease-in;
transform-origin: center center;
}

@keyframes hockeyleaf {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.bag-wiggle {
  animation: bag-wiggle 500ms alternate infinite forwards;
  transform-origin: center bottom;
}

@keyframes bag-wiggle {

  0%{
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);

  }
}
